@charset "UTF-8";

/* CSS Document */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img, strong, tt, dl, dt, dd, ol, ul, li, form, label, table, tr, th, td, article, aside, canvas, embed, figure, footer, header, menu, nav, section, map, fieldset, audio, video {
    margin: 0;
    padding: 0;
}

ol, ul, dl {
    list-style: none;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

img {
    border: 0;
}

body {
    font-size: 20px;
    font-family: "Nanum-Gothic";
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #000;
}

/*header*/
.header {
    width:94%;
    margin:0 auto;
}

.headerLastCover {
    width: 94%;
    margin: 0 auto;
}

.headerLastWrap {
    overflow: hidden;
}

.headerLast_l {
    float: left;
    width: 75%;
}

.headerLast_l ul {
    overflow: hidden;
}

.headerLast_l ul li {
    float: left;
}

.headerLast_l ul li a {
    display: inline-block;
    padding: 9px 0 7px;
}

.headerLast_l ul li a img {
    width: 100%;
}

.headerLast_r {
    float: right;
    width: 25%;
}

.headerLast_r ul {
    overflow: hidden;
    width: 100%;
}

.headerLast_r ul li {
    float: left;
    padding: 29px 0;
}

.headerLast_r ul li a {
    display: inline-block;
}

.headerLast_r ul li a img {
    width: 100%;
}

/*content*/
.content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3%;
}

.main_01_img {
    float: left;
    width: 50%;
}

.main_02_event {
    float: left;
    width: 25%;
}

.mainEvent {
    position: relative;
}